node_modules
dist

# MATLAB outputs
matlab/storage/panoramas/
matlab/storage/depth_maps/
matlab/storage/logs/
matlab/storage/raw_images/
matlab/storage/processed_images/

# MATLAB temp files
*.asv
*.m~
slprj/
Aerial234